@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: #09a1a7;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
}

input,
button {
  font-family: inherit;
}

#main-title {
  font-size: 2.2rem;
  color: white;
  font-weight: 900;
}
.board {
  display: grid;
  grid-template-columns: repeat(9, 50px);
  grid-template-rows: repeat(9, 50px);
  border: 1px solid black;
}

.cell {
  font-size: 1.5rem;
  text-align: center;
  background-color: whitesmoke;
  border: 1px solid black;
}
.cell.highlighted {
  background-color: crimson;
  color: white;
}
.cell[j="2"],
.cell[j="5"] {
  border-right: 3px solid black;
}
.cell[i="2"],
.cell[i="5"] {
  border-bottom: 3px solid black;
}

.btn {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 40px;
  background-color: white;
  color: var(--bg-color);
  border: none;
  box-shadow: 0 0 0 -5px white;
  transition: 0.3s ease;
}

.btn:hover {
  box-shadow: 0 0 20px -5px white;
}
